.box {
	text-align: right;
	width: 300px;
	height: 50px;
}

.button {
	position: relative;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    background-color: #ABCDEF;
}

#button2 { 
	left: 16%;
	bottom: 100px;
}

#button3 { 
	left: 32%;
	bottom: 200px;
}

#button4 { 
	bottom: 200px;
}

#button5 { 
	left: 16%;
	bottom: 300px;
}

#button6 { 
	left: 32%;
	bottom: 400px;
}

#button7 { 
	bottom: 400px;
}

#button8 { 
	left: 16%;
	bottom: 500px;
}

#button9 { 
	left: 32%;
	bottom: 600px;
}

#button0 { 
	left: 16%;
	bottom: 600px;
}

#clear { 
	position: relative;
	height: 65px;
	width: 300px;
	border-radius: 5px;
	background-color: #FF0000;
	bottom: 600px;
}

#wrapper {
	height: 500px;
	width: 640px;
}